.tags_bar{
    display: inline-flex;
    height: 50px;
    border-bottom: 1px solid black;
    overflow-x: scroll;
    width: 82vw;
}
.tags_bar p{
    margin: auto 10px;
    background-color: rgb(238, 238, 238);
    padding: 4px 10px ;
    border-radius: 7px;
    width: fit-content;
}
.tags_bar p:first-child{
    background-color: rgb(65, 63, 63);
    color: white;
}

::-webkit-scrollbar{
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-track{
    background-color: #ffffff;

  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #fdfdfd;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #fcfcfc;
  }